<nav class="navbar navbar-expand-sm bg-secondary bg-opacity-50">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
          <img src="img/Lobbie-removebg-preview.png" alt="Site Logo" style="width: 100px; height: 40px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto fs-5 custom-text-color-navbar">
          <li class="nav-item">
            <a class="nav-link" href="/game">Play</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Learn</a>
          </li>
        </ul>
        <% if (user) { %>
            <div class="d-flex">
              <span class="me-2 my-auto text-black">Welcome, <%= user.name %></span>
              <a href="/profile"><button class="btn btn-outline-info me-2">Profile</button></a>
              <a href="/logout"><button class="btn btn-info">Log out</button></a>
            </div>
          <% } else { %>
            <div class="d-flex">
              <a href="/login"><button class="btn btn-outline-success me-2">Log In</button></a>
              <a href="/registration"><button class="btn btn-success">Register</button></a>
            </div>
          <% } %>
      </div>
    </div>
  </nav>
  